ul {
    padding-left: 1.5rem;
  }

h1 {
    text-align:center;
}

h5 {
    text-align:center;
}
/* .css-9s5bis.edgvbvh3{
visibility: hidden;
} */
#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}
@media only screen and (max-width: 600px) {
    .text-small{
    font-size: 10px;
    
    }

}
